.messages {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.messages h1, h2, h3 {
  width: 100%;
  text-align: center;
}

.nav {
  width: 300px;
  background-color: red;
  color: white;
  height: 100%;
  min-height: 100vh;
}

.nav__profile {
  width: calc(100% - 20px);
  padding: 10px;
}

.nav__user {
  font-weight: bold;
  font-size: 110%;
  margin: 5px 0;
}

.nav__online_time {
  font-size: 90%;
}

.chat {
  width: calc(100% - 200px);
  display: flex;
  flex-direction:column;
}

.chat__users {
  padding: 0 0 10px 0;
  border-bottom: 2px solid black;
  margin: 0;
  text-align: center;
}
.chat__messages {
  height: 75vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #efefef;
}

.chat__messages li {
  max-width: 50%;
}
.chat__current-user {
  font-weight: bold;
  color: red;
}

.chat__current-user-message {
  align-self: flex-end;
}
.chat__current-user-message .chat__sender {
  display:none;
}

.chat__sender {
  margin: 10px;
  color: #898989;
}

.chat__message-text {
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  margin:5px;
  word-wrap: break-word;
}

.chat__current-user-message .chat__message-text {
  background-color: red;
  color: white;
}
.room__send form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 20px 10px 10px;

}
.room__message {
  width: 80%;
  height: 30px;
  font-size: 16px;
  padding: 5px 10px;
  margin-right: auto;
}
.room__submit {
  font-size: 20px;
  border: none;
  color: #5e9bff;
  cursor:pointer;
  align-self: center;
}

.room__submit:hover {
  color: blue;
}
